<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="창동역 맛집 모음 웹사이트의 관리자 로그인 페이지입니다."
        />
        <link rel="stylesheet" href="/static/css/login.css" />
        <title>관리자 로그인</title>
        <%- include('../include/head') %>
    </head>
    <body>
        <div class="login-box">
            <h1>로그인</h1>
            <p>관리자 계정으로 로그인해주세요.</p>

            <form name="form_login">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="id">ID</span>
                    <input
                        type="text"
                        class="form-control"
                        aria-label="id input"
                        aria-describedby="id"
                        name="id"
                    />
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="pw">PW</span>
                    <input
                        type="password"
                        class="form-control"
                        aria-label="pw input"
                        aria-describedby="pw"
                        name="pw"
                    />
                </div>
                <div class="errorMsg"></div>

                <button type="button" class="btn btn-dark" onclick="login()">Login</button>
                <br />
                <a href="/">Home 이동하기</a>
            </form>
        </div>

        <script>
            function login() {
                const form = document.forms["form_login"];
                if (!form.checkValidity()) {
                    form.reportValidity();
                    return;
                }
                axios({
                    url: "/admin/loginAdmin",
                    method: "POST",
                    data: {
                        id: form.id.value,
                        pw: form.pw.value,
                    },
                })
                    .then((res) => {
                        const { isSuccess, isLogin } = res.data;

                        if (isLogin && isSuccess) {
                            window.location.href = "/admin/restaurants";
                        } else if (isLogin && !isSuccess) {
                            alert("접근 권한이 없습니다.");
                            window.location.href = "/";
                        } else {
                            form.reset();
                            const msg = document.querySelector(".errorMsg");
                            msg.classList.toggle(".errorMsg");
                            msg.innerHTML =
                                "<p>로그인에 실패했습니다<br />아이디, 비밀번호를 다시 확인해주세요.</p>";
                        }
                    })
                    .catch((err) => console.log(err));
            }
        </script>
    </body>
</html>
