<style>
    .sidebar {
        position: fixed;
        width: 15%;
        min-width: 200px;
    }
    .sidebar ul {
        width: 70%;
        list-style: none;
        margin: auto;
        padding: 180px 0 0 0;
    }
    .sidebar ul li {
        width: 100%;
        height: 48px;
        line-height: 48px;
        margin: 20px;
        text-align: center;
        background-color: #fafad2;
        border-radius: 10px;
    }
    .sidebar ul li:hover {
        cursor: pointer;
        background-color: #dfdfdfce;
    }
    .sidebar a {
        width: 100%;
        font-size: 24px;
        text-decoration: none;
        color: #000;
    }
</style>
<nav class="sidebar">
    <ul>
        <li class="sidebar-first">
            <b><a href="/admin/restaurants">식당 관리</a></b>
        </li>
        <li class="sidebar-first">
            <b><a href="/admin/users">회원 관리</a></b>
        </li>
        <li class="sidebar-first">
            <b><a href="/">홈으로</a></b>
        </li>
    </ul>
</nav>
