<style>
    .sidebar {
        position: fixed;
        width: 15%;
        min-width: 200px;
    }
    .sidebar ul {
        list-style: none;
    }
    .sidebar a {
        width: 100%;
    }
</style>
<nav class="sidebar">
    <ul>
        <li class="sidebar-first">
            <b><a href="/admin/restaurants">식당 관리</a></b>
        </li>
        <li class="sidebar-first">
            <b><a href="/admin/users">회원 관리</a></b>
        </li>
    </ul>
</nav>
