<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>창동 맛집 모음</title>
        <link rel="stylesheet" href="/static/css/index.css" />
        <!-- head include -->
        <%- include('./include/head') %>
    </head>
    <body>
        <!-- header include -->
        <%- include('./include/header') %>
        <div class="restaurantMenu" id="restaurantMenu1">
            <table style="border-spacing: 70px; border-collapse: separate">
                <tr>
                    <th style="font-size: 30px">
                        <img
                            class="logo"
                            src="/static/images/CMM.png"
                            alt=""
                            style="width: 50px; height: 50px"
                        />
                        모든식당
                    </th>
                    <th></th>
                </tr>
                <tbody id="restaurantContainer">
                    <% console.log("레스토랑 정보 >> ",restaurants); %>

                    <tr>
                        <% restaurants.forEach((el, index) => { %>
                            <% if (index % 3 === 0 && index !== 0) { %>
                                </tr><tr>
                            <% } %>
                            <td>
                                <a href="">
                                    <div class="imageContainer">
                                        <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzEyMDNfMTA1%2FMDAxNzAxNTc1Mzc1MTA4.dN9S9wJppXhDjB9fdVjzf911R91YMES1K8IbCekCMjgg.tYmyq6JD-7LetCAkfz5KQFzEikonrjlL59_LRklghykg.JPEG.jelly877%2F20231203%25A3%25DF115342.jpg"
                                            alt="Restaurant 1"
                                            class="RestaurantImage"/>
                                        <span class="label"><%= el.rest_name %></span>
                                    </div>
                                </a>
                            </td>
                        <% }) %>
                    </tr>
                </tbody>
            </table>
        </div>

        <br /><br />
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- footer include -->
        <%- include('./include/footer') %>

        <script></script>
    </body>
</html>
