<style>
    footer {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;

        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20rem;
    }

    .logo {
        flex: 0 0 auto;
    }

    .right-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .created-by,
    .menu {
        margin-left: 20px;
    }

    .created-by ul,
    .menu ul {
        /* list-style-type: none; */
        padding: 0;
        margin: 0;
    }

    .created-by ul li,
    .menu ul li {
        margin-bottom: 5px;
    }

    .right-section h4 {
        margin-bottom: 10px;
    }

    .copyright {
        margin-top: 20px;
    }

    .created-by {
        margin-right: 10rem;
    }

    .menu {
        margin-top: 1.5em;
    }
</style>
<footer>
    <div class="footer-content">
        <div class="logo">
            <img
                src="../static/images/CMM.png"
                alt="로고 이미지"
                style="width: 200px; height: 200px"
            />
        </div>
        <div class="right-section">
            <div class="created-by">
                <h4>만든 사람</h4>
                <ul>
                    <li>강혜인</li>
                    <li>권순모</li>
                    <li>권태현</li>
                    <li>진현정</li>
                </ul>
            </div>
            <div class="menu">
                <h4>메뉴</h4>
                <ul>
                    <li>한식</li>
                    <li>일식</li>
                    <li>양식</li>
                    <li>중식</li>
                    <li>디저트</li>
                </ul>
            </div>
        </div>
    </div>
    <p class="copyright">쌍권강진 © 2024. All Rights Reserved</p>
</footer>
