<header>
    <div class="wrapper">
        <div class="headerLogo">
            <a href="/">
                <img src="/static/images/CMM.png" alt="" style="width: auto; height: 200px" />
            </a>
        </div>
        <div class="searchResponse" style="z-index: 999">
            <div class="search" style="width: 500px">
                <div
                    class="collapse navbar-collapse d-flex justify-content-center"
                    id="navbarSupportedContent"
                >
                    <div class="d-flex" role="search" style="width: 500px">
                        <input
                            id="searchInput"
                            class="searchStyle"
                            type="search"
                            placeholder="search"
                            aria-label="Search"
                        />

                        <button
                            class="searchBtn"
                            type="button"
                            id="searchButton"
                            style="border: none; background-color: #ffde59; border-radius: 25px"
                        >
                            <img
                                src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"
                            />
                        </button>
                    </div>
                </div>
            </div>
            <br />
            <div>
                <nav class="menu" style="flex: 0 0 auto; margin-top: -15px">
                    <ul>
                        <li class="active"><a href="#">홈</a></li>
                        <li><a href="/search/category?category=한식">한식</a></li>
                        <li><a href="/search/category?category=일식">일식</a></li>
                        <li><a href="/search/category?category=양식">양식</a></li>
                        <li><a href="/search/category?category=중식">중식</a></li>
                        <li><a href="/search/category?category=디저트">디저트</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="InfoResponse">
            <div class="buttons">
                <!-- 로그인 유무에 따른 헤더 변경 -->
                <%if (isLogin) { %>
                <div class="welcomeResponse" style="right: 25%">
                    <p><%= user %>님 환영합니다.</p>
                </div>
                <form name="form_logout" action="/form/logout" method="post">
                    <button id="logoutBtn" class="signBtn" type="submit">로그아웃</button>
                    <div>
                        <button
                            type="button"
                            class="signBtn"
                            id="menu"
                            onclick="window.location.href = '/mypage/likeList';"
                        >
                            마이페이지
                        </button>
                        <a href="/suggestion/list">건의사항</a>
                    </div>
                </form>
                <% } else { %>
                <button id="signupBtn" class="signBtn">회원가입</button>
                <button id="loginBtn" class="signBtn">로그인</button>
                <button class="signBtn">
                    <a href="/suggestion/list" style="text-decoration: none; color: black" >건의사항</a>
                </button>
                <% } %>
                <br />
            </div>
        </div>
    </div>

    <!-- 로그인 팝업창 -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <h2>로그인</h2>
            <div>
                <img src="/static/images/CMM.png" width="150px" height="200px" />
            </div>
            <a href=""><span class="signupLabel" id="closeModalBtn">닫기</span></a>

            <form name="form_info" action="/index" method="post">
                <input type="hidden" name="nickname" />
            </form>

            <form id="modal_login" action="/form/login" method="post">
                <!-- 아이디 -->
                <div>
                    <h4>
                        <label for="id">아이디</label>
                    </h4>
                    <span class="box intId">
                        <input type="text" name="id" class="int" maxlength="20" />
                    </span>
                    <!-- <span class="error_next_box"></span> -->
                </div>

                <!-- 비밀번호 -->
                <div>
                    <h4>
                        <label for="pswd1">비밀번호</label>
                    </h4>
                    <span class="box intPw">
                        <input type="password" name="pw" class="int" maxlength="20" />
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- 로그인-->
                <div class="btnArea">
                    <button type="submit" id="btnLogin">
                        <span>로그인</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- 회원가입 팝업창 -->
    <div id="signupModal" class="modal">
        <div class="modal-content">
            <h2>회원가입</h2>
            <div>
                <img src="/static/images/CMM.png" width="150px" height="200px" />
            </div>

            <a href=""><span class="signupLabel" id="closeLikeBtn">닫기</span></a>
            <form id="modal_register" name="modal_register">
                <!-- 아이디 -->
                <div>
                    <h4>
                        <label for="id">아이디</label>
                    </h4>
                    <span class="box intId">
                        <input
                            type="text"
                            name="id"
                            id="inputId"
                            class="int"
                            maxlength="20"
                            onkeydown="inputIdCk()"
                            required
                        />
                        <!-- 타입을 btn에서 input으로 수정 -->
                        <span class="stepbutton">
                            <button id="btnCheckId" onclick="idCheck()">중복확인</button>
                            <input
                                type="hidden"
                                name="idDuplication"
                                id="idDuplication"
                                value="idUncheck"
                            />
                        </span>
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- 비밀번호 -->
                <div>
                    <h4>
                        <label for="pswd1">비밀번호</label>
                    </h4>
                    <span class="box intPw">
                        <input
                            type="password"
                            name="pw"
                            class="int"
                            maxlength="20"
                            id="pw"
                            required
                        />
                        <span id="alertTxt">사용불가</span>
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- 비밀번호 확인 -->
                <div>
                    <h4>
                        <label for="pswd2">비밀번호 재확인</label>
                    </h4>
                    <span class="box intPwCheck">
                        <input
                            type="password"
                            name="pwCheck"
                            class="int"
                            maxlength="20"
                            id="pwCk"
                        />
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- 닉네임 -->
                <div>
                    <h4>
                        <label for="name">닉네임</label>
                    </h4>
                    <span class="box intName">
                        <input
                            type="text"
                            name="nickname"
                            class="int"
                            maxlength="20"
                            placeholder="7글자 이하로 작성해주세요."
                            required
                        />
                        <span class="error_next_box"></span>
                    </span>
                </div>

                <!-- 이메일 -->
                <!-- <form id="checkEmail" action="/checkEmail" method="POST"></form> -->
                <!-- form 안에 form 작성불가 -->
                <div>
                    <h4>
                        <label for="email">이메일</label>
                    </h4>
                    <span class="box intEmail">
                        <input
                            type="email"
                            name="email"
                            id="email"
                            class="int"
                            maxlength="100"
                            required
                        />
                        <span class="stepbutton"
                            ><button type="submit" id="btnCheckCodeSend" onclick="emailCode()">
                                확인코드전송
                            </button></span
                        >
                    </span>
                    <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>
                </div>

                <!-- 이메일 확인 -->
                <div>
                    <h4>
                        <label for="email">이메일 확인</label>
                    </h4>
                    <span class="box intName">
                        <input
                            type="text"
                            id="emailChk"
                            name="emailChk"
                            class="int"
                            maxlength="20"
                            required
                        />
                        <span class="stepbutton"
                            ><button type="button" id="btnCheckCode" onclick="btnEmailCk()">
                                확인
                            </button></span
                        >
                    </span>
                    <span class="error_next_box"></span>
                </div>
                <!-- 회원가입-->
                <div class="btnArea">
                    <button type="submit" id="btnJoin">
                        <span>가입하기</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- 비밀번호 재확인 부분 -->
    <script>
        let pw = document.getElementById("pw");
        let pwCk = document.getElementById("pwCk");

        function validatePassword() {
            if (pw.value != pwCk.value) {
                pwCk.setCustomValidity("비밀번호가 같지 않습니다.");
            } else {
                pwCk.setCustomValidity("");
            }
        }
        pw.onchange = validatePassword;
        pwCk.onkeyup = validatePassword;
    </script>

    <!-- 아이디 중복화면 검사 -->
    <script>
        // 아이디 중복체크 화면 열기
        function idCheck() {
            window.name = "parentForm";
            window.open(
                "/user/idCheckForm",
                "chkForm",
                "width=500, height=300, resizable=no, scrollbars=no"
            );
        }
        // 중복체크 후 다시 새로운 아이디를 입력했을 때 다시 중복체크 하도록 함
        function inputIdCk() {
            document.modal_register.idDuplication.value = "idUncheck";
        }
    </script>

    <!-- 이메일 확인 코드 전송 -->

    <script>
        function validateEmail(email) {
        // 간단한 이메일 형식 유효성 검사
        const re = /\S+@\S+\.\S+/;
        return re.test(email);
    }

        function emailCode() {
            const emailInput = document.getElementById("email");
            const emailValue = emailInput.value;

            if (!validateEmail(emailValue)) {
            alert("올바른 이메일 형식이 아닙니다.");
            return;
        }

            axios({
                method: "POST",
                url: "/form/sendCode",
                data: {
                    email: emailValue,
                },
            })
                .then((response) => {
                    console.log("res 작동 확인", response.data);

                    if (response.data.ok) {
                        alert("메일 전송에 성공하였습니다.");
                        // btnEmailCk();
                    } else {
                        alert("메일 전송에 실패하였습니다.");
                    }
                })

                .catch((error) => {
                    console.error(error);
                    alert("서버 오류가 발생했습니다.");
                });
        }
    </script>

    <!-- 이메일 코드 확인 -->
    <script>
        function btnEmailCk() {
            const emailChk = document.getElementById("emailChk");
            const codeValue = emailChk.value;

            axios({
                method: "POST",
                url: "/form/checkCode",
                data: {
                    codeValue: codeValue,
                },
            })
                .then((response) => {
                    if (response.data.ok) {
                        alert("인증번호가 일치합니다.");
                    } else {
                        alert("인증번호가 일치하지 않습니다.");
                        emailChk.value = "";
                    }
                })
                .catch((error) => {
                    console.error(error);
                });
        }
    </script>

    <!-- 회원가입 입력값 검사 -->
    <script>
        document.getElementById("modal_register").addEventListener("submit", function (event) {
            event.preventDefault();

            const form = document.forms["modal_register"];

            if (form.idDuplication.value != "idCheck") {
                alert("아이디 중복체크를 해주세요.");
                return false;
            }

            axios({
                method: "POST",
                url: "/form/register",
                data: {
                    id: form.id.value,
                    pw: form.pw.value,
                    nickname: form.nickname.value,
                    email: form.email.value,
                },
            })
                .then((result) => {
                    console.log(result);
                    if (result) {
                        alert("회원가입 성공!");
                        document.location.href = "/";
                    } else {
                        alert("회원가입 실패");
                    }
                })
                .catch((err) => {
                    console.error(error);
                    res.status(500).send("회원가입 실패");
                });
        });
    </script>

    <!-- 어두운 오버레이 -->
    <div id="overlay"></div>

    <div class="searchWrapper0">
        <div class="searchWrapper">
            <div class="inputHolder">
                <input type="text" class="searchInput" placeholder="Type to search" />
                <button class="searchIcon" onclick="searchToggle(this, event);">
                    <span></span>
                </button>
            </div>
            <span class="close" onclick="searchToggle(this, event);"></span>
        </div>
    </div>

    <script>
        function searchToggle(obj, evt) {
            var container = obj.closest(".searchWrapper");
            if (!container.classList.contains("active")) {
                container.classList.add("active");
                evt.preventDefault();
            } else if (container.classList.contains("active") && !obj.closest(".inputHolder")) {
                container.classList.remove("active");
                // clear input
                container.querySelector(".searchInput").value = "";
            }
        }
    </script>

    <script>
        (() => {
            // 회원가입 버튼 클릭 이벤트 처리
            document.getElementById("signupBtn").addEventListener("click", function () {
                // 팝업창과 어두운 오버레이 표시
                console.log("테스트");
                document.getElementById("signupModal").style.display = "block";
                document.getElementById("overlay").style.display = "block";
            });

            // 모달 닫기 버튼 클릭 이벤트 처리
            document.getElementById("closeModalBtn").addEventListener("click", function () {
                // 팝업창과 어두운 오버레이 숨기기
                document.getElementById("signupModal").style.display = "none";
                document.getElementById("overlay").style.display = "none";
            });

            // 로그인 버튼 클릭 이벤트 처리
            document.getElementById("loginBtn").addEventListener("click", function () {
                // 팝업창과 어두운 오버레이 표시
                document.getElementById("loginModal").style.display = "block";
                document.getElementById("overlay").style.display = "block";
            });

            // 모달 닫기 버튼 클릭 이벤트 처리
            document.getElementById("closeModalBtn").addEventListener("click", function () {
                // 팝업창과 어두운 오버레이 숨기기
                document.getElementById("loginModal").style.display = "none";
                document.getElementById("overlay").style.display = "none";
            });

            // search
        })();
    </script>
</header>
