<link rel="stylesheet" href="/static/css/mypage.css" />
<div class="nav">
    <ul>
        <a href="/mypage/likeList"><li>내 좋아요 목록</li></a>
        <a href="/mypage/reviewList"><li>내 리뷰 목록</li></a>
        <a href="/mypage/profile"><li>내 정보</li></a>
    </ul>
</div>
