<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>아이디 중복체크</title>
        <%- include('../include/head') %>
    </head>

    <style>
        body {
            margin-top: 20px;
            margin-left: 25px;
            margin-right: 25px;
            background-color: whitesmoke;
        }

        .logoImg {
            display: flex;
            align-items: center;
        }

        .logoImg p {
            font-size: 18px;
            font-weight: bold;
            color: "gray";
        }

        .logoImg img {
            width: 80px;
            height: 80px;
            margin-right: 10px;
        }

        .inputId {
            display: flex;
            align-items: center;
            margin-left: 20px;
        }

        #idCk {
            margin-left: 15px;
            border: none;
            padding: 7px 7px;
            border-radius: 5px;
            background-color: #ffc064;
            font-weight: bold;
            cursor: pointer;
        }

        .chkBtn {
            display: flex;
            align-items: center;
            margin-left: 20px;
        }

        .chkBtn #cancleBtn {
            margin-right: 25px;
            border: none;
            padding: 7px 7px;
            border-radius: 5px;
            background-color: #ffc064;
            font-weight: bold;
            cursor: pointer;
        }

        .chkBtn #useBtn {
            border: none;
            padding: 7px 7px;
            border-radius: 5px;
            background-color: #ffc064;
            font-weight: bold;
            cursor: pointer;
            visibility: hidden;
        }
        #msg {
            margin-left: 20px;
            color: #c47500;
            font-size: 12px;
        }
   
    </style>

    <body onload="pValue()">
        <div id="wrap">
            <br />
            <div class="logoImg">
                <img src="/static/images/CMM-removebg.png" alt="cmm logo" />
                <p>아이디 중복체크</p>
            </div>
            <hr size="3" width="440" />
            <br />
            <div id="chk">
                <form id="checkForm">
                    <div class="inputId">
                        <input type="text" name="userId" id="userId" />
                        <input type="button" value="중복확인" id="idCk" onclick="idCheck()" />
                    </div>
                </form>
                <div id="msg"></div>
                <br />
                <div class="chkBtn">
                    <input id="cancleBtn" type="button" value="취소" onclick="cancleBtn()" />
                    <input id="useBtn" type="button" value="사용하기" onclick="sendCheckValue()" />
                </div>
            </div>
        </div>
    </body>

    <script>
        // axios를 사용하여 아이디 중복 체크 요청을 보내는 함수
        function idCheck() {
            const id = document.getElementById("userId").value;
            if (!id) {
                alert("아이디를 입력하지 않았습니다.");
                return false;
            } else if (!/^[a-zA-Z0-9]+$/.test(id)) {
                alert("영문 대소문자와 숫자만 사용할 수 있습니다.");
                return false;
            } else {
                axios({
                    method: "POST",
                    url: "/form/checkid",
                    data: {
                        id: id,
                    },
                })
                    .then((result) => {
                        if (result.data.available) {
                            console.log("사용가능");
                            alert("사용 가능한 아이디입니다.");
                            document.getElementById("cancleBtn").style.visibility = "hidden";
                            document.getElementById("useBtn").style.visibility = "visible";
                            document.getElementById("msg").innerHTML = "사용 가능한 아이디입니다.";
                        } else {
                            console.log("사용불가능");
                            alert("사용할 수 없는 아이디입니다.");
                            document.getElementById("cancleBtn").style.visibility = "visible";
                            document.getElementById("useBtn").style.visibility = "hidden";
                            document.getElementById("msg").innerHTML = "";
                        }
                    })
                    .catch((error) => {
                        console.error(error);
                    });
            }
        }

        // 사용하기 버튼을 클릭했을 때 부모 창으로 값 전달
        function sendCheckValue() {
            opener.document.modal_register.idDuplication.value = "idCheck";
            opener.document.modal_register.id.value = document.getElementById("userId").value;
            if (opener != null) {
                opener.chkForm = null;
                self.close();
            }
        }
    </script>

    <script>
        function cancleBtn() {
            document.getElementById("userId").value = "";
            opener.document.modal_register.id.value = "";
            window.close();
        }
    </script>

    <script>
        function pValue() {
            document.getElementById("userId").value = opener.document.modal_register.id.value;
        }
    </script>
</html>
