* {
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
body * {
    /* border: 1px solid black; */
}
header {
    height: 80px;
}
.admin-main {
    position: relative;
    width: 85%;
    float: right;
}
label {
    width: 100px;
    vertical-align: top;
}
.btn-add {
    width: 80px;
    height: 37px;
}
