* {
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.admin-main {
    position: relative;
    padding: 80px;
    width: 85%;
    float: right;
}
.title {
    margin-bottom: 30px;
}
.user-list-container {
    width: 80%;
}
.delete-user-div {
    width: 100%;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}
.user-list-table {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    border-style: none;
}
.user-list-table tr:not(tr:last-child) {
    width: 100%;
    border-bottom: 1px solid #dadada;
}
.user-list-table tr {
    height: 40px;
    line-height: 40px;
}
.user-list-table tr th:not(th:nth-child(4)) {
    width: 100px;
}
.user-list-table tr td:not(td:nth-child(2)) {
    width: 100px;
}

.btn-admin {
    width: 85px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    background-color: #e6e6e6;
}
.btn-admin:hover {
    cursor: pointer;
    background-color: #dadada;
}
