* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
}
.admin-main {
    position: relative;
    padding: 80px;
    width: 85%;
    float: right;
}
label {
    width: 100px;
}
input {
    height: 32px;
}
.add-menu-div {
    width: 80%;
    margin: auto;
}
#addMenuBtnDiv {
    width: 80%;
    padding: 0px 20px 20px 20px;
}
#submitMenuDiv {
    padding: 20px 0px;
}
#menuForm {
    width: 70%;
}
#menuForm input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
}
.hidden {
    display: none;
}
.btn-admin {
    width: 120px;
    height: 40px;
    line-height: 36px;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    background-color: #ffc064;
}
.btn-admin:hover {
    cursor: pointer;
    background-color: #e1a000;
}
#btn-add {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    border: none;
}
#btn-add:hover {
    cursor: pointer;
    background-color: #dbdbdbec;
}
#btn-back {
    background-color: #cfcfcf;
}
#btn-back:hover {
    background-color: #afafafee;
}
