* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
}
.admin-main {
    position: relative;
    padding: 80px;
    width: 85%;
    float: right;
}
.rest-list-container {
    width: 80%;
}
.add-btn-div {
    width: 100%;
    min-width: 700px;
    margin: 40px auto 30px auto;
    text-align: right;
}
.rest-list-div {
    width: 100%;
    min-width: 700px;
    border: 1px solid #dadada;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}
.rest-list-table {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    border-style: none;
}
.rest-list-table tr:not(tr:last-child) {
    width: 100%;
    border-bottom: 1px solid #dadada;
}
.rest-list-table tr th:not(th:nth-child(2)) {
    width: 100px;
}
.rest-list-table tr {
    height: 40px;
    line-height: 40px;
}
.rest-list-table tr td:not(td:nth-child(2)) {
    width: 100px;
}
.rest-list-table tr td:nth-child(2):hover {
    cursor: pointer;
}

.btn-admin {
    width: 85px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    background-color: #e6e6e6;
}
.btn-admin:hover {
    cursor: pointer;
    background-color: #dadada;
}
.btn-addRest {
    width: 100px;
    height: 36px;
    background-color: #ffc064;
}
.btn-addRest:hover {
    background-color: #e1a000;
}

.modal-container {
    display: none;
    position: fixed;
    padding-top: 150px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-main {
    margin: auto;
    padding: 100px;
    width: 50%;
    border-radius: 15px;
    background-color: #fefefe;
}
.modal-bottom {
    width: 100%;
    height: 60px;
    text-align: center;
}
.modal-info,
.modal-edit {
    padding: 20px;
    display: none;
}
.close-modal-btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 50px;
    font-weight: 800;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    background-color: #ffc064;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.15);
}
.close-modal-btn:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: #e0b886fa;
}
