footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;

    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

@media screen and (max-width: 1010px) {
    .logo {
        position: absolute;
        display: none;
    }

    .createdBy {
        position: absolute;
        display: none;
    }

    .footerMenu {
        position: absolute;
        display: none;
    }
}

@media screen and (max-width: 600px) {
    footer {
        width: 100%;
    }
}

.footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20rem;
}

.createdBy ul,
.menu ul {
    /* list-style-type: none; */
    padding: 0;
    margin: 0;
}

.createdBy ul li,
.menu ul li {
    margin-bottom: 5px;
}

.rightSection h4 {
    margin-bottom: 10px;
}

.copyright {
    margin-top: 20px;
}

.createdBy {
    margin-right: 10rem;
}

.footerMenu {
    margin-top: 1.5em;
    right: 20%;
}

.logo {
    position: absolute;
    left: 5%;
}
