@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

:root {
    /** color **/
    --baseColor: #333;
    --whiteColor: rgb(254, 255, 255);
    /** size **/
    /* --baseContainer: 1400px; */
}

::placeholder {
    color: black;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1350px;
    background-color: #ffde59;
    z-index: 2;
}

header {
    margin: 0 auto;
    background-color: #ffde59;
    width: 100%;
    z-index: 1;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    height: 200px;
    border-bottom: 1px solid gray;
}

/* 미디어 쿼리 - 화면 너비에 따라 헤더의 높이 조정 */
@media screen and (max-width: 1400px) {
    .InfoResponse {
        /* position: absolute; */
        right: 0;
    }

    .welcomeResponse {
        top: -100%;
        left: 2%;
    }

    .searchResponse {
        left: 20%;
    }
}

@media screen and (max-width: 950px) {
    .searchResponse {
        display: none;
    }

    .wrapper {
        background-color: #ffde59;
        z-index: 0;
    }

    .headerLogo {
        margin-left: 2%;
    }

    .InfoResponse {
        position: absolute;
        right: 0;
        top: 75%;
    }

    .welcomeResponse {
        position: absolute;
        left: -80%;
        top: 10%;
    }
}

@media screen and (max-width: 800px) {
    .searchWrapper0 {
        position: absolute;
        left: 40%;
        top: 35%;
    }

    .welcomeResponse {
        position: absolute;
        top: -80%;
        left: 5%;
    }

    .InfoResponse {
        right: 30%;
    }
}

header img {
    width: 11.875rem;
    padding: 0.75rem 0;
}
/* /////////////// */
/* @import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");

.nav {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    background-color: #ffde59;
    padding: 0 20px;
    border-radius: 40px;

    
}

.nav-item {
    color: white;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 6px;
    z-index: 1;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    position: relative;
}

.nav-item:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: 0.3s;
}

.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}

.nav-item:not(.is-active):hover {
    color: #333;
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: 0.4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
} */

header nav ul {
    display: flex;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    padding: 0 10px;
    width: 100px;
}

header nav ul li a {
    position: relative;
    display: inline-block;
    line-height: 3.5rem;
    font-weight: bold;
    font-size: 1.0625rem;
    text-decoration: none;
    color: black;
}

header nav ul li.active a,
header nav ul li:hover a {
    color: var(--whiteColor);
}

header nav ul li a:after {
    opacity: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--whiteColor);
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}

header nav ul li.active a:after,
header nav ul li:hover a:after {
    opacity: 1;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li:last-child {
    margin-right: 0;
}

.search {
    border: 12.5px solid #ffc064;
    border-radius: 25px;
    margin: 0 auto;
}

/* searchStyle */
.searchStyle {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search img {
    width: 30px;
    margin: 0;
}

.signBtn {
    border: 5px solid #ffc064;
    border-radius: 25px;
    outline: none; /* 클릭시 포커스 테두리도 없앰 */
    background-color: white;
}

.buttons {
    display: flex;
    gap: 10px; /* 버튼 사이의 간격 조정 */
}

/* 회원가입 팝업창 스타일 */
#signupModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 600px; /* 너비를 작게 설정 */
    height: 600px;
}

#loginModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 500px; /* 너비를 작게 설정 */
    height: 500px;
}

.likelistModal {
    display: none;
    position: fixed;
    top: 250%;

    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 300%;
}

.myLikedModal {
    display: none;
    position: fixed;
    top: 250%;

    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 300%;
}

.myInfoModal {
    display: none;
    position: fixed;
    top: 250%;

    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 300%;
}

.modal-content {
    text-align: center;
}

/* 어두운 오버레이 스타일 */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* 입력폼 */

input:focus {
    outline: none;
}

h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}

.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}

.stepbutton {
    position: absolute;
    top: 10px;
    right: 13px;
    font-size: 15px;
}

/* 에러메세지 */

.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;
    display: none;
}

#alertTxt {
    position: absolute;
    top: 19px;
    right: 38px;
    font-size: 12px;
    color: red;
    display: none;
}

/* 버튼 */

.btnArea {
    margin: 30px 0 50px;
}

#btnJoin {
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #ffc064;
    font-size: 20px;
    font-weight: 400;
}

#btnLogin {
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #ffc064;
    font-size: 20px;
    font-weight: 400;
}

.signupLabel {
    position: absolute; /* 절대적인 위치 설정 */
    top: 10px; /* 이미지 상단에서 10px 떨어진 위치에 배치 */
    right: 10px; /* 이미지 왼쪽에서 10px 떨어진 위치에 배치 */
    background-color: rgba(0, 0, 0, 0.5); /* 배경색 지정 */
    color: white; /* 텍스트 색상 지정 */
    padding: 5px; /* 안쪽 여백 지정 */
    border-radius: 5px; /* 테두리 모서리를 둥글게 설정 */
}

/* 돋보기 */
.searchWrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}

.searchWrapper .inputHolder {
    height: 70px;
    width: 70px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
    border-radius: 6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.searchWrapper.active .inputHolder {
    width: 200px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
}
.searchWrapper .inputHolder .searchInput {
    width: 100%;
    height: 50px;
    padding: 0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    transform: translate(0, 60px);
    transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
    transition-delay: 0.3s;
}
.searchWrapper.active .inputHolder .searchInput {
    opacity: 1;
    transform: translate(0, 10px);
}
.searchWrapper .inputHolder .searchIcon {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 6px;
    background: #fff;
    padding: 0px;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.searchWrapper.active .inputHolder .searchIcon {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 30px;
}
.searchWrapper .inputHolder .searchIcon span {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transform: rotate(45deg);
    transition: all 0.4s cubic-bezier(0.65, -0.6, 0.24, 1.65);
}
.searchWrapper.active .inputHolder .searchIcon span {
    transform: rotate(-45deg);
}
.searchWrapper .inputHolder .searchIcon span::before,
.searchWrapper .inputHolder .searchIcon span::after {
    position: absolute;
    content: "";
}
.searchWrapper .inputHolder .searchIcon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #fe5f55;
}
.searchWrapper .inputHolder .searchIcon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #fe5f55;
}
.searchWrapper .close {
    position: absolute;
    z-index: 1;
    top: 24px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all 0.3s cubic-bezier(0.285, -0.45, 0.935, 0.11);
    transition-delay: 0.2s;
}
.searchWrapper.active .close {
    right: -50px;
    transform: rotate(45deg);
    transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
    transition-delay: 0.5s;
}
.searchWrapper .close::before,
.searchWrapper .close::after {
    position: absolute;
    content: "";
    background: #fe5f55;
    border-radius: 2px;
}
.searchWrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.searchWrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}
