@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

:root {
    /** color **/
    --baseColor: #333;
    --whiteColor: rgb(254, 255, 255);
    /** size **/
    --baseContainer: 1400px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1350px;
}

header {
    margin: 0 auto;
    background-color: #ffde59;
    width: 100%;
    z-index: 1;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    height: 200px;
    border-bottom: 1px solid gray;
    /* @media (max-width: 1200px) {
    .search {
        width: 300px; /* 헤더 너비가 1200px 이하일 때 검색창의 크기를 줄임 
      } */

    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.active header {
    -webkit-transform: matrix(1, 0, 0, 1, -320, 0);
    -moz-transform: matrix(1, 0, 0, 1, -320, 0);
    transform: matrix(1, 0, 0, 1, -100, 0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.sideMenuLogo {
    font-size: 32px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: initial;
}

.sideMenuLogo > a {
    display: inline-block;
    margin: 0 auto 0 10px;
    position: relative;
}

menu {
    background: #fff;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    right: -20%;
    top: 0;
    width: 320px;
    z-index: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

menu .container {
    height: 200%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 600px;
    -webkit-transform-origin: 0% 50% 0px;
    -moz-transform-origin: 0% 50% 0px;
    transform-origin: 0% 50% 0px;
    -webkit-transform: matrix(0.8, 0, 0, 0.9, 40, 0);
    -moz-transform: matrix(0.8, 0, 0, 0.9, 40, 0);
    transform: matrix(0.8, 0, 0, 0.9, 40, 0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

menu .container .box {
    border-top: 3px solid;
    height: calc(100% - 33px);
    overflow: visible;
    overflow-y: scroll;
    padding: 0 17px 30px 0;
    position: relative;
    width: 450px;
}

menu .box ul:nth-child(1) {
    border-bottom: 3px solid;
}

menu .box ul {
    padding: 10px 0;
}

menu ul li {
    border-bottom: 1px solid #ededed;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 39px;
    letter-spacing: 0.12em;
    line-height: 39px;
    text-transform: uppercase;
    padding: 0 50px;
}

.active menu {
    right: 0;
    z-index: 999;
}

.active menu .container {
    -webkit-transform-origin: 0% 50% 0px;
    -moz-transform-origin: 0% 50% 0px;
    transform-origin: 0% 50% 0px;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* 마이페이지 버튼 */
#menu {
    cursor: pointer;
    display: block;
    position: fixed;
}

/* @media only screen and (min-width: 520px) {
    header .container {
        max-width: 640px;
    }
    header .box {
        display: block;
    }
    section > h1 {
        font-size: 3em;
    }
} */

header img {
    width: 11.875rem;
    padding: 0.75rem 0;
}

/* header > div {display: flex;justify-content: space-between;align-items: center;} */

header nav ul {
    display: flex;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    padding: 0 10px;
    width: 100px;
}

header nav ul li a {
    position: relative;
    display: inline-block;
    line-height: 3.5rem;
    font-weight: bold;
    font-size: 1.0625rem;
    text-decoration: none;
    color: black;
}

header nav ul li.active a,
header nav ul li:hover a {
    color: var(--whiteColor);
}

header nav ul li a:after {
    opacity: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--whiteColor);
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}

header nav ul li.active a:after,
header nav ul li:hover a:after {
    opacity: 1;
}

header nav ul li:last-child {
    margin-right: 0;
    /* 마지막 메뉴의 간격을 없앰 */
}

header nav ul li:last-child {
    margin-right: 0; /* 마지막 메뉴의 간격을 없앰 */
}

.search {
    border: 12.5px solid #ffc064;
    border-radius: 25px;
    margin: 0 auto;
}

/* searchStyle */
.searchStyle {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search img {
    width: 30px;
    margin: 0;
}

.signBtn {
    border: 5px solid #ffc064;
    border-radius: 25px;
    outline: none; /* 클릭시 포커스 테두리도 없앰 */
    background-color: white;
}

.buttons {
    display: flex;
    gap: 10px; /* 버튼 사이의 간격 조정 */
}

/* 회원가입 팝업창 스타일 */
#signupModal {
    display: none;
    position: fixed;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 600px; /* 너비를 작게 설정 */
    height: 600px;
}

#loginModal {
    display: none;
    position: fixed;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 500px; /* 너비를 작게 설정 */
    height: 500px;
}

.likelistModal {
    display: none;
    position: fixed;
    top: 250%;

    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 300%;
}

.myLikedModal {
    display: none;
    position: fixed;
    top: 250%;

    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 300%;
}

.myInfoModal {
    display: none;
    position: fixed;
    top: 250%;

    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 300%;
}

.modal-content {
    text-align: center;
}

/* 어두운 오버레이 스타일 */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* 입력폼 */

input:focus {
    outline: none;
}

h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}

.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}

.stepbutton {
    position: absolute;
    top: 10px;
    right: 13px;
    font-size: 15px;
}

/* 에러메세지 */

.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;
    display: none;
}

#alertTxt {
    position: absolute;
    top: 19px;
    right: 38px;
    font-size: 12px;
    color: red;
    display: none;
}

/* 버튼 */

.btnArea {
    margin: 30px 0 50px;
}

#btnJoin {
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #ffc064;
    font-size: 20px;
    font-weight: 400;
}

#btnLogin {
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #ffc064;
    font-size: 20px;
    font-weight: 400;
}

.signupLabel {
    position: absolute; /* 절대적인 위치 설정 */
    top: 10px; /* 이미지 상단에서 10px 떨어진 위치에 배치 */
    right: 10px; /* 이미지 왼쪽에서 10px 떨어진 위치에 배치 */
    background-color: rgba(0, 0, 0, 0.5); /* 배경색 지정 */
    color: white; /* 텍스트 색상 지정 */
    padding: 5px; /* 안쪽 여백 지정 */
    border-radius: 5px; /* 테두리 모서리를 둥글게 설정 */
}
