body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1350px;
    height: 80px;
    border-radius: 25px;
    margin-top: 220px;
    margin-bottom: 10px;
    line-height: 100px;
}

.nav ul {
    width: 400px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.nav ul a {
    text-decoration: none;
    border: 5px solid #ffbf62;
    border-radius: 25px;
}

.nav ul li {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: black;
}

main {
    width: 1350px;
    height: 100%;
    border-radius: 25px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* text-align: center; */
}
