<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>건의 | 글쓰기</title>
        <script src="https://cdn.jsdelivr.net/npm/suneditor@2.45.1/dist/suneditor.min.js"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/suneditor@2.45.1/dist/css/suneditor.min.css"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/lang/ko.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/plugins/modules/[dialog, resizing].js"></script>
        <%- include('../include/head.ejs') %>
        <style>
            a {
                text-decoration: none;
            }
            .form-container {
                width: 80%;
                margin: 0 auto;
            }
            #i-title {
                width: 100%;
            }
            .btn-group {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="form-container">
            <% if(isNew) {%>
            <form action="/suggestion/writePost" method="post">
                <input type="text" id="i-title" name="title" maxlength="32" /><br />
                <textarea id="editor" name="content"></textarea>
                <%} else{ %>
                <form
                    action="/suggestion/editPost?post=<%=postInfo.sug_index%>"
                    method="post"
                >
                <input
                    type="text"
                    name="title"
                    id="i-title"
                    maxlength="32"
                    value="<%= postInfo.title %>"
                /><br />
                <textarea id="editor" name="content"><%- postInfo.content %></textarea>
                <% } %>
                <button onclick="return submitPost()">등록</button>
            </form>
            <div class="btn-group">
                <a href="/suggestion/list?page=1" onclick="return confirmOut()"
                    ><button type="button">목록</button></a
                >
            </div>
        </div>
        <script src="/static/js/suggestionWrite.js"></script>
    </body>
</html>
