<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>건의사항 작성</title>
        <%- include('../include/head.ejs') %>
    </head>
    <body>
        <form action="/suggestion/writePost" method="post">
            <input type="text" name="title" /><br />
            <input type="text" name="content" /><br />
            <button>등록</button>
        </form>
        <a href="/suggestion/list"> <input type="button" value="목록" /></a>
    </body>
</html>
