<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>내 정보</title>
        <%- include('../include/head') %>
        <link rel="stylesheet" href="/static/css/profile.css" />
    </head>
    <body>
        <%- include('../include/header'), {isLogin: isLogin, user: user} %> <%-
        include('../include/mypageNav', { title: "내 정보" }) %> <% try { %>
        <main>
            <hr
                style="
                    border: 3px solid#878787;
                    height: 3px !important;
                    display: block !important;
                    width: 100% !important;
                "
            />
        </main>
        <% } catch(err) { %>
        <h1>세션이 만료되었습니다. 다시 로그인해주세요.</h1>
        <% }%> <%-include('../include/footer') %>
    </body>
</html>
