<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>내 리뷰 목록</title>
        <%- include('../include/head') %>
        <link rel="stylesheet" href="/static/css/likeList.css" />
        <script src="https://kit.fontawesome.com/9ff27f4d50.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('../include/header'), {isLogin: isLogin, user: user} %> <%-
        include('../include/mypageNav', { title: "내 리뷰 목록" }) %>
        <main></main>
        <%-include('../include/footer') %>
    </body>
</html>
